parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - demo/*
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Call to function is_string\(\) with string will always evaluate to true#'
            path: src/Controller/Api/IconSvgController.php
